.b-like-container {
	display: inline-flex;
	padding: 10rpx;
	width: 90rpx;
}

.like-fill {
	color: #e99399;
}

.like {
	color: rgb(48, 47, 47);
}

.count {
	font-size: 24rpx;
	color: #bbb;
	position: relative;
}